// Setting up the cooldown
<Client>.on("message", (message) => {

let talkedRecently = new Set();

talkedRecently.add(message.author.id);

setTimeout(() => {
  talkedRecently.delete(message.author.id);
}, 5000);

// blah blah blah, other code in the event listener...

// "getalt" Command
if(command === "getalt") {
  const responses = ["Alt1", "Alt2"];
  if(talkedRecently.has(message.author.id)) {
    message.channel.send(["Here is your alt...", `${responses[Math.floor(Math.random() * responses.length)]}`]).catch(console.error);
  }
} else
